{% extends "core/base.html" %}

{% block content %}
<div class="container mt-5">
    <h1 class="mb-4">{{ group_session.title }}</h1>
    <div class="card">
        <div class="card-body">
            <p><strong>Start Time:</strong> {{ group_session.start_time }}</p>
            <p><strong>End Time:</strong> {{ group_session.end_time }}</p>
            <p><strong>Cost:</strong> ${{ group_session.cost }}</p>
<p><strong>Information: </strong> {{ group_session.description }}</p>
            <p><strong>Max Participants:</strong> {{ group_session.max_participants }}</p>
            <form method="post" action="{% url 'join_group_session' group_session.id %}">
                {% csrf_token %}
                <button type="submit" class="btn btn-success">Join Session</button>
            </form>
            {% if error %}
                <p class="text-danger mt-3">{{ error }}</p>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
