{% extends "core/base.html" %}

{% block title %}Live Stream Details{% endblock %}

{% block content %}
      <style> h1, h5 {
            font-family: 'Montserrat', sans-serif;
            color: #2C2E83;
font-weight: 500;
      } </style>
<div class="container mt-5">
    <h1 class="mb-4 text-center">{{ live_stream.title }}</h1>
    <div class="card">
        <div class="card-body">
            <p><strong>Start Time:</strong> {{ live_stream.start_time }}</p>
            <p><strong>End Time:</strong> {{ live_stream.end_time }}</p>
            <p><strong>Description:</strong> {{ live_stream.description }}</p>
            <p><strong>Link:</strong> <a href="{{ live_stream.link }}" target="_blank">{{ live_stream.link }}</a></p>
        </div>
    </div>
</div>
{% endblock %}
