{% extends 'core/base.html' %}

{% block content %}
<h2>Profile</h2>

<p>Email: {{ student.email }}</p>
<p>Phone: {{ student.phone }}</p>

<h3>Enrolled Courses</h3>
{% if enrollments %}
<ul>
    {% for course in enrollments %}
    <li>{{ course.title }}</li>
    {% endfor %}
</ul>
{% else %}
<p>No enrolled courses.</p>
{% endif %}

<h3>Booked Hours</h3>
{% if booked_hours %}
<ul>
    {% for hour in booked_hours %}
    <li>{{ hour.specific_date }} - {{ hour.start_time|date:"H:i" }} to {{ hour.end_time|date:"H:i" }}</li>
    {% endfor %}
</ul>
{% else %}
<p>No booked hours.</p>
{% endif %}

<h3>Purchased Products</h3>
{% if purchased_products %}
<ul>
    {% for purchase in purchased_products %}
    <li>{{ purchase.product.name }} - £{{ purchase.product.price }} (Quantity: {{ purchase.quantity }})</li>
    {% endfor %}
</ul>
{% else %}
<p>No purchased products.</p>
{% endif %}
{% endblock %}
